<div
  class="flex min-h-screen flex-col gap-2 px-2 py-2 md:gap-4 md:px-6 md:py-4"
>
  <call-header />
  <main
    class="min-h-0 grid flex-1 gap-2 md:gap-4"
    [ngClass]="app.isChatOpen() ? 'grid-cols-[1fr_320px]' : ''"
  >
    <section
      class="relative h-full w-full overflow-hidden rounded-2xl bg-black p-5"
    >
      <div class="grid h-full w-full gap-2" [ngClass]="gridClass">
        @for (user of app.remoteUsers(); track $index) {
          <div class="relative flex justify-end">
            @if (user.isMuted) {
              <div
                class="absolute left-5 top-5 bg-red-700 rounded-lg p-3 flex justify-center items-center"
              >
                <lucide-icon [img]="MicOffIcon" />
              </div>
            }
            @if (!user.stream || user.isVideoOff) {
              <div
                class="h-full w-full rounded-xl flex justify-center items-center"
              >
                <div
                  class="w-72 h-72 rounded-full text-white flex justify-center items-center"
                  [style.background]="user.color"
                >
                  <span class="text-5xl font-semibold">{{
                    user.userName.toLocaleUpperCase()[0]
                  }}</span>
                </div>
              </div>
            } @else {
              <video
                [srcObject]="app.stream()"
                autoplay
                playsinline
                class="h-full w-full rounded-xl object-cover"
              ></video>
            }
          </div>
        }
        <div class="relative flex justify-center">
          @if (!app.stream() || app.isVideoOff()) {
            <div
              class="h-full w-full rounded-xl flex justify-center items-center"
            >
              <div
                class="w-72 h-72 rounded-full text-white flex justify-center items-center"
                [style.background]="color"
              >
                <span class="text-5xl font-semibold">{{
                  app.userName().toLocaleUpperCase()[0]
                }}</span>
              </div>
            </div>
          } @else {
            <video
              [srcObject]="app.stream()"
              autoplay
              playsinline
              class="h-full w-full rounded-xl object-cover"
            ></video>
          }
        </div>
      </div>
    </section>

    @if (app.isChatOpen()) {
      <call-chat />
    }
  </main>
  <call-footer />
</div>
